{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/gerenciar.css' %}">
    <title>Gerenciar Personagens</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static "lib\sweetalert2.all.min.js" %}"></script>
</head>
<body>
    <div class="header my-4">
        <button class="titulo">Personagens</button>
        <a href="/" class="voltar_home ml-2">Voltar</a>
    </div>

    <div class="personagens">
    
        <div class="criar_personagem" data-toggle="modal" data-target="#modal_criacao_personagem">
            <img src="{% static 'img/mais.png' %}" height="80px">
            <span>Criar Personagem</span>
        </div>

        {% for personagem in personagens %}
            <div class="personagem" data-id="{{ personagem.id }}" data-toggle="modal" data-target="#modal_detalhes_personagem">
                <div class="aparencia_personagem">
                    <img src="/assets/personagem_completo/{{ personagem.aparencia }}.png" height="140px">
                    
                </div>
                <div class="status_personagens">
                    <span class="nome_personagem">{{ personagem.nome }}</span>
                    <div class="status" id="hp_status">
                        <span>HP</span>
                        <span style="margin-left: 40px;">{{ personagem.hp }}/{{ personagem.hp }}</span>
                    </div>
                    <div class="status" id="ee_status">
                        <span>EE</span>
                        <span style="margin-left: 40px;">{{ personagem.ee }}/{{ personagem.ee }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}

        

    </div>

  
  <!-- O modal em si -->
  <div class="modal" id="modal_criacao_personagem">
    <div class="modal-dialog" style="min-width: 650px;">
      <div class="modal-content">
      
        <!-- Cabeçalho do modal -->
        <div class="modal-header">
          <h4 class="modal-title">Criação de Personagem</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Corpo do modal -->
        <div class="modal-body">

            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" placeholder="Digite seu nome">
            </div>
            <div class="form-group">
                <div style="display: flex; justify-content: space-between;">
                    <label for="classe">Classe:</label>
                    <button class="btn btn-sm btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#modal_info_classes">Saiba Mais</button>
                </div>
                <select class="form-control" id="classe">
                    <option value="0">Assassino</option>
                    <option value="1">Berserker</option>
                    <option value="2">Oscilante</option>
                    <option value="3">Paladino</option>
                    <option value="4">Regenerador</option>
                    <option value="5">Velocista</option>
                </select>
            </div>

            <div class="aparencia_e_status">
                <div class="aparencia">
                    <span>Aparência:</span>

                    <div class="cabeca_choice">
                        <img src="{% static 'img/seta.png' %}" class="seta_esquerda">
                        <img src="{% static 'partes_tratadas/cabeca1.png' %}" data-value="1" id="cabeca" class="cabeca">
                        <img src="{% static 'img/seta.png' %}" class="seta_direita">
                    </div>

                    <div class="corpo_choice">
                        <img src="{% static 'img/seta.png' %}" class="seta_esquerda">
                        <img src="{% static 'partes_tratadas/corpo1.png' %}" data-value="1" id="corpo" class="corpo">
                        <img src="{% static 'img/seta.png' %}" class="seta_direita">
                    </div>

                    <div class="pernas_choice">
                        <img src="{% static 'img/seta.png' %}" class="seta_esquerda">
                        <img src="{% static 'partes_tratadas/pernas1.png' %}" data-value="1" id="pernas" class="pernas">
                        <img src="{% static 'img/seta.png' %}" class="seta_direita">
                    </div>
                </div>

                <div class="atribuir_status">
                    <div class="status_text">
                        <span>Status: (máx 100)</span>
                        <span class="restantes_text">Restantes: </span> <span id="restantes_number">100</span>
                    </div>
                    <div class="form-group w-100">
                        <label for="nome">HP:</label>
                        <input type="number" class="form-control" id="hp" placeholder="HP">
                    </div>
                    <div class="form-group w-100">
                        <label for="nome">Energia Elemental:</label>
                        <input type="number" class="form-control" id="ee" placeholder="EE">
                    </div>
                    <div class="form-group w-100">
                        <label for="nome">Ataque:</label>
                        <input type="number" class="form-control" id="ataque" placeholder="Ataque">
                    </div>
                </div>
            </div>
            <div class="status_restantes">
                <div class="d-flex">
                    <div class="form-group w-50 mr-5">
                        <label for="nome">Defesa:</label>
                        <input type="number" class="form-control" id="defesa" placeholder="Defesa">
                    </div>
                    <div class="form-group w-50">
                        <label for="nome">Ataque Mágico:</label>
                        <input type="number" class="form-control" id="sp_ataque" placeholder="Ataque Mágico">
                    </div>
                </div>

                <div class="d-flex">
                    <div class="form-group w-50 mr-5">
                        <label for="nome">Defesa Mágica:</label>
                        <input type="number" class="form-control" id="sp_defesa" placeholder="Defesa Mágica">
                    </div>
                    <div class="form-group w-50">
                        <label for="nome">Velocidade</label>
                        <input type="number" class="form-control" id="velocidade" placeholder="Velocidade">
                    </div>
                </div>
            </div>

            <div class="skills">
                <div class="form-group">
                    <div style="display: flex; justify-content: space-between;">
                        <label for="skill1">Skill 1:</label>
                        <button class="btn btn-sm btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#modal_info_skills">Saiba Mais</button>
                    </div>
                    <select class="form-control" id="skill1">
                        <option value="1">Investida</option>
                        <option value="2">Golpe de Escudo</option>
                        <option value="3">Golpe Pesado</option>
                        <option value="4">Golpe Poderoso</option>
                        <option value="5">Kickbox</option>
                        <option value="6">Bola de Fogo</option>
                        <option value="7">Raio</option>
                        <option value="8">Flecha de Gelo</option>
                        <option value="9">Bala Mágica</option>
                        <option value="10">Raio de Vitalidade</option>
                        <option value="11">Golpe de Vitalidade</option>
                        <option value="12">Bolha Bomba</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="skill2">Skill 2:</label>
                    <select class="form-control" id="skill2">
                        <option value="1">Investida</option>
                        <option value="2">Golpe de Escudo</option>
                        <option value="3">Golpe Pesado</option>
                        <option value="4">Golpe Poderoso</option>
                        <option value="5">Kickbox</option>
                        <option value="6">Bola de Fogo</option>
                        <option value="7">Raio</option>
                        <option value="8">Flecha de Gelo</option>
                        <option value="9">Bala Mágica</option>
                        <option value="10">Raio de Vitalidade</option>
                        <option value="11">Golpe de Vitalidade</option>
                        <option value="12">Bolha Bomba</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="skill3">Skill 3:</label>
                    <select class="form-control" id="skill3">
                        <option value="1">Investida</option>
                        <option value="2">Golpe de Escudo</option>
                        <option value="3">Golpe Pesado</option>
                        <option value="4">Golpe Poderoso</option>
                        <option value="5">Kickbox</option>
                        <option value="6">Bola de Fogo</option>
                        <option value="7">Raio</option>
                        <option value="8">Flecha de Gelo</option>
                        <option value="9">Bala Mágica</option>
                        <option value="10">Raio de Vitalidade</option>
                        <option value="11">Golpe de Vitalidade</option>
                        <option value="12">Bolha Bomba</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="skill4">Skill 4:</label>
                    <select class="form-control" id="skill4">
                        <option value="1">Investida</option>
                        <option value="2">Golpe de Escudo</option>
                        <option value="3">Golpe Pesado</option>
                        <option value="4">Golpe Poderoso</option>
                        <option value="5">Kickbox</option>
                        <option value="6">Bola de Fogo</option>
                        <option value="7">Raio</option>
                        <option value="8">Flecha de Gelo</option>
                        <option value="9">Bala Mágica</option>
                        <option value="10">Raio de Vitalidade</option>
                        <option value="11">Golpe de Vitalidade</option>
                        <option value="12">Bolha Bomba</option>
                    </select>
                </div>
            </div>
        </div>
        
        <!-- Rodapé do modal -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-success" id="salvar_button">Salvar</button>
        </div>
        
      </div>
    </div>
  </div>
  
  <!-- O modal em si -->
  <div class="modal" id="modal_detalhes_personagem">
    <div class="modal-dialog" style="min-width: 650px;">
        <div class="modal-content">
        
          <!-- Cabeçalho do modal -->
          <div class="modal-header">
            <h4 class="modal-title">Detalhes de: </h4><h4 class="modal-title" style="margin-left: 8px;" id="nome_personagem_detalhes"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Corpo do modal -->
          <div class="modal-body">
  
              <div class="form-group">
                  <label for="nome">Nome:</label>
                  <input type="text" class="form-control" id="nome_detalhes" placeholder="Digite seu nome" disabled>
              </div>
              <div class="form-group">
                  <label for="classe">Classe:</label>
                  <select class="form-control" id="classe_detalhes" disabled>
                    <option value="0">Assassino</option>
                    <option value="1">Berserker</option>
                    <option value="2">Oscilante</option>
                    <option value="3">Paladino</option>
                    <option value="4">Regenerador</option>
                    <option value="5">Velocista</option>
                  </select>
              </div>
  
              <div class="aparencia_e_status">
                  <div class="aparencia_detalhes">
                      <span>Aparência:</span>
                      <img src="{% static 'personagem_completo/0.png' %}" id="aparencia_detalhes" data-cabeca="1" data-corpo="1" data-pernas="1">
                  </div>
  
                  <div class="atribuir_status_detalhes">
                      <div class="status_text">
                          <span>Status:</span>
                      </div>
                      <div class="form-group w-100">
                          <label for="nome">HP:</label>
                          <input type="number" class="form-control" id="hp_detalhes" placeholder="HP" disabled>
                      </div>
                      <div class="form-group w-100">
                          <label for="nome">Energia Elemental:</label>
                          <input type="number" class="form-control" id="ee_detalhes" placeholder="EE" disabled>
                      </div>
                      <div class="form-group w-100">
                          <label for="nome">Ataque:</label>
                          <input type="number" class="form-control" id="ataque_detalhes" placeholder="Ataque" disabled>
                      </div>
                  </div>
              </div>
              <div class="status_restantes_detalhes">
                  <div class="d-flex">
                      <div class="form-group w-50 mr-5">
                          <label for="nome">Defesa:</label>
                          <input type="number" class="form-control" id="defesa_detalhes" placeholder="Defesa" disabled>
                      </div>
                      <div class="form-group w-50">
                          <label for="nome">Ataque Mágico:</label>
                          <input type="number" class="form-control" id="sp_ataque_detalhes" placeholder="Ataque Mágico" disabled>
                      </div>
                  </div>
  
                  <div class="d-flex">
                      <div class="form-group w-50 mr-5">
                          <label for="nome">Defesa Mágica:</label>
                          <input type="number" class="form-control" id="sp_defesa_detalhes" placeholder="Defesa Mágica" disabled>
                      </div>
                      <div class="form-group w-50">
                          <label for="nome">Velocidade</label>
                          <input type="number" class="form-control" id="velocidade_detalhes" placeholder="Velocidade" disabled>
                      </div>
                  </div>
              </div>
  
              <div class="skills">
                  <div class="form-group">
                      <label for="skill1">Skill 1:</label>
                      <select class="form-control" id="skill1_detalhes" disabled>
                        <option value="1">Investida</option>
                        <option value="2">Golpe de Escudo</option>
                        <option value="3">Golpe Pesado</option>
                        <option value="4">Golpe Poderoso</option>
                        <option value="5">Kickbox</option>
                        <option value="6">Bola de Fogo</option>
                        <option value="7">Raio</option>
                        <option value="8">Flecha de Gelo</option>
                        <option value="9">Bala Mágica</option>
                        <option value="10">Raio de Vitalidade</option>
                        <option value="11">Golpe de Vitalidade</option>
                        <option value="12">Bolha Bomba</option>
                      </select>
                  </div>
  
                  <div class="form-group">
                      <label for="skill2_detalhes">Skill 2:</label>
                      <select class="form-control" id="skill2_detalhes" disabled>
                        <option value="1">Investida</option>
                        <option value="2">Golpe de Escudo</option>
                        <option value="3">Golpe Pesado</option>
                        <option value="4">Golpe Poderoso</option>
                        <option value="5">Kickbox</option>
                        <option value="6">Bola de Fogo</option>
                        <option value="7">Raio</option>
                        <option value="8">Flecha de Gelo</option>
                        <option value="9">Bala Mágica</option>
                        <option value="10">Raio de Vitalidade</option>
                        <option value="11">Golpe de Vitalidade</option>
                        <option value="12">Bolha Bomba</option>
                      </select>
                  </div>
  
                  <div class="form-group">
                      <label for="skill3">Skill 3:</label>
                      <select class="form-control" id="skill3_detalhes" disabled>
                        <option value="1">Investida</option>
                        <option value="2">Golpe de Escudo</option>
                        <option value="3">Golpe Pesado</option>
                        <option value="4">Golpe Poderoso</option>
                        <option value="5">Kickbox</option>
                        <option value="6">Bola de Fogo</option>
                        <option value="7">Raio</option>
                        <option value="8">Flecha de Gelo</option>
                        <option value="9">Bala Mágica</option>
                        <option value="10">Raio de Vitalidade</option>
                        <option value="11">Golpe de Vitalidade</option>
                        <option value="12">Bolha Bomba</option>
                      </select>
                  </div>
  
                  <div class="form-group">
                      <label for="skill4">Skill 4:</label>
                      <select class="form-control" id="skill4_detalhes" disabled>
                        <option value="1">Investida</option>
                        <option value="2">Golpe de Escudo</option>
                        <option value="3">Golpe Pesado</option>
                        <option value="4">Golpe Poderoso</option>
                        <option value="5">Kickbox</option>
                        <option value="6">Bola de Fogo</option>
                        <option value="7">Raio</option>
                        <option value="8">Flecha de Gelo</option>
                        <option value="9">Bala Mágica</option>
                        <option value="10">Raio de Vitalidade</option>
                        <option value="11">Golpe de Vitalidade</option>
                        <option value="12">Bolha Bomba</option>
                      </select>
                  </div>
              </div>
          </div>
          
          <!-- Rodapé do modal -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-warning" id="editar_button" data-dismiss="modal" data-toggle="modal" data-target="#modal_editar_personagem">Editar</button>
            <button type="button" class="btn btn-danger" id ="deletar_button">Deletar</button>
          </div>
          
        </div>
      </div>
  </div>


  <!-- O modal em si -->
  <div class="modal" id="modal_editar_personagem">
    <div class="modal-dialog" style="min-width: 650px;">
      <div class="modal-content">
      
        <!-- Cabeçalho do modal -->
        <div class="modal-header">
          <h4 class="modal-title">Editar Personagem: </h4><h4 class="modal-title" style="margin-left: 8px;" id="nome_personagem_editar"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Corpo do modal -->
        <div class="modal-body">

            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome_editar" placeholder="Digite seu nome">
            </div>
            <div class="form-group">
                <div style="display: flex; justify-content: space-between;">
                    <label for="classe">Classe:</label>
                    <button class="btn btn-sm btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#modal_info_classes">Saiba Mais</button>
                </div>
                <select class="form-control" id="classe_editar">
                    <option value="0">Assassino</option>
                    <option value="1">Berserker</option>
                    <option value="2">Oscilante</option>
                    <option value="3">Paladino</option>
                    <option value="4">Regenerador</option>
                    <option value="5">Velocista</option>
                </select>
            </div>

            <div class="aparencia_e_status">
                <div class="aparencia">
                    <span>Aparência:</span>

                    <div class="cabeca_choice">
                        <img src="{% static 'img/seta.png' %}" class="seta_esquerda">
                        <img src="{% static 'partes_tratadas/cabeca1.png' %}" data-value="1" id="cabeca_editar" class="cabeca">
                        <img src="{% static 'img/seta.png' %}" class="seta_direita">
                    </div>

                    <div class="corpo_choice">
                        <img src="{% static 'img/seta.png' %}" class="seta_esquerda">
                        <img src="{% static 'partes_tratadas/corpo1.png' %}" data-value="1" id="corpo_editar" class="corpo">
                        <img src="{% static 'img/seta.png' %}" class="seta_direita">
                    </div>

                    <div class="pernas_choice">
                        <img src="{% static 'img/seta.png' %}" class="seta_esquerda">
                        <img src="{% static 'partes_tratadas/pernas1.png' %}" data-value="1" id="pernas_editar" class="pernas">
                        <img src="{% static 'img/seta.png' %}" class="seta_direita">
                    </div>
                </div>

                <div class="atribuir_status_editar">
                    <div class="status_text">
                        <span>Status: (máx 100)</span>
                        <span class="restantes_text">Restantes: </span> <span id="restantes_number_editar">100</span>
                    </div>
                    <div class="form-group w-100">
                        <label for="nome">HP:</label>
                        <input type="number" class="form-control" id="hp_editar" placeholder="HP">
                    </div>
                    <div class="form-group w-100">
                        <label for="nome">Energia Elemental:</label>
                        <input type="number" class="form-control" id="ee_editar" placeholder="EE">
                    </div>
                    <div class="form-group w-100">
                        <label for="nome">Ataque:</label>
                        <input type="number" class="form-control" id="ataque_editar" placeholder="Ataque">
                    </div>
                </div>
            </div>
            <div class="status_restantes_editar">
                <div class="d-flex">
                    <div class="form-group w-50 mr-5">
                        <label for="nome">Defesa:</label>
                        <input type="number" class="form-control" id="defesa_editar" placeholder="Defesa">
                    </div>
                    <div class="form-group w-50">
                        <label for="nome">Ataque Mágico:</label>
                        <input type="number" class="form-control" id="sp_ataque_editar" placeholder="Ataque Mágico">
                    </div>
                </div>

                <div class="d-flex">
                    <div class="form-group w-50 mr-5">
                        <label for="nome">Defesa Mágica:</label>
                        <input type="number" class="form-control" id="sp_defesa_editar" placeholder="Defesa Mágica">
                    </div>
                    <div class="form-group w-50">
                        <label for="nome">Velocidade</label>
                        <input type="number" class="form-control" id="velocidade_editar" placeholder="Velocidade">
                    </div>
                </div>
            </div>

            <div class="skills">
                <div class="form-group">
                    <div style="display: flex; justify-content: space-between;">
                        <label for="skill1">Skill 1:</label>
                        <button class="btn btn-sm btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#modal_info_skills">Saiba Mais</button>
                    </div>
                    <select class="form-control" id="skill1_editar">
                        <option value="1">Investida</option>
                        <option value="2">Golpe de Escudo</option>
                        <option value="3">Golpe Pesado</option>
                        <option value="4">Golpe Poderoso</option>
                        <option value="5">Kickbox</option>
                        <option value="6">Bola de Fogo</option>
                        <option value="7">Raio</option>
                        <option value="8">Flecha de Gelo</option>
                        <option value="9">Bala Mágica</option>
                        <option value="10">Raio de Vitalidade</option>
                        <option value="11">Golpe de Vitalidade</option>
                        <option value="12">Bolha Bomba</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="skill2">Skill 2:</label>
                    <select class="form-control" id="skill2_editar">
                        <option value="1">Investida</option>
                        <option value="2">Golpe de Escudo</option>
                        <option value="3">Golpe Pesado</option>
                        <option value="4">Golpe Poderoso</option>
                        <option value="5">Kickbox</option>
                        <option value="6">Bola de Fogo</option>
                        <option value="7">Raio</option>
                        <option value="8">Flecha de Gelo</option>
                        <option value="9">Bala Mágica</option>
                        <option value="10">Raio de Vitalidade</option>
                        <option value="11">Golpe de Vitalidade</option>
                        <option value="12">Bolha Bomba</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="skill3">Skill 3:</label>
                    <select class="form-control" id="skill3_editar">
                        <option value="1">Investida</option>
                        <option value="2">Golpe de Escudo</option>
                        <option value="3">Golpe Pesado</option>
                        <option value="4">Golpe Poderoso</option>
                        <option value="5">Kickbox</option>
                        <option value="6">Bola de Fogo</option>
                        <option value="7">Raio</option>
                        <option value="8">Flecha de Gelo</option>
                        <option value="9">Bala Mágica</option>
                        <option value="10">Raio de Vitalidade</option>
                        <option value="11">Golpe de Vitalidade</option>
                        <option value="12">Bolha Bomba</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="skill4">Skill 4:</label>
                    <select class="form-control" id="skill4_editar">
                        <option value="1">Investida</option>
                        <option value="2">Golpe de Escudo</option>
                        <option value="3">Golpe Pesado</option>
                        <option value="4">Golpe Poderoso</option>
                        <option value="5">Kickbox</option>
                        <option value="6">Bola de Fogo</option>
                        <option value="7">Raio</option>
                        <option value="8">Flecha de Gelo</option>
                        <option value="9">Bala Mágica</option>
                        <option value="10">Raio de Vitalidade</option>
                        <option value="11">Golpe de Vitalidade</option>
                        <option value="12">Bolha Bomba</option>
                    </select>
                </div>
            </div>
        </div>
        
        <!-- Rodapé do modal -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-success" id="salvar_button_editar">Salvar</button>
        </div>
        
      </div>
    </div>
  </div>

  <!-- O modal em si -->
  <div class="modal" id="modal_info_classes">
    <div class="modal-dialog" style="min-width: 650px;">
      <div class="modal-content">
      
        <!-- Cabeçalho do modal -->
        <div class="modal-header">
          <h4 class="modal-title">Informações de Classes</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Corpo do modal -->
        <div class="modal-body">

            <table class="info_classes">
                <thead>
                    <tr>
                        <th>Classe</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Assassino</td>
                        <td>
                            Classe focada em ataques rápidos e furtivos, com uma grande velocidade e dano e.
                            Para cada round, ganha 4 de Ataque e 4 de Velocidade, mas perde 2 de Defesa.
                        </td>
                    </tr>
                    <tr>
                        <td>Berserker</td>
                        <td>
                            Classe focada em ataques pesados e brutos, com uma grande força e dano.
                            Para cada round, ganha 3 de Ataque e 3 de Ataque Mágico.
                        </td>
                    </tr>
                    <tr>
                        <td>Oscilante</td>
                        <td>
                            Classe versátil que depende constantemente da sorte.
                            Para cada round, você ganhará 15% a mais em todos os seus atributos, ou perderá 10% deles, dependendo da sorte.
                        </td>
                    </tr>
                    <tr>
                        <td>Paladino</td>
                        <td>
                            Classe focada em defesa e suporte, com uma grande defesa e defesa mágica.
                            Para cada round, ganha 3 de Defesa e 3 de Defesa Mágica.
                        </td>
                    </tr>
                    <tr>
                        <td class="pr-2">Regenerador</td>
                        <td>
                            Classe focada em regeneração, com uma grande regeneração de HP.
                            Para cada round, regenera a vida.
                        </td>
                    </tr>
                    <tr>
                        <td>Velocista</td>
                        <td>
                            Classe focada em velocidade.
                            Para cada round, ganha 20% a mais de velocidade.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>    

        <!-- Rodapé do modal -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#modal_criacao_personagem">Voltar</button>
        </div>
        
      </div>
    </div>
  </div>

  <!-- O modal em si -->
  <div class="modal" id="modal_info_skills">
    <div class="modal-dialog" style="min-width: fit-content;">
      <div class="modal-content">
      
        <!-- Cabeçalho do modal -->
        <div class="modal-header">
          <h4 class="modal-title">Informações de Habilidades</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Corpo do modal -->
        <div class="modal-body">

            <table class="info_skills">
                <thead>
                    <tr>
                        <th>Habilidade</th>
                        <th>Tipo</th>
                        <th>Custo</th>
                        <th>Dano Base</th>
                        <th>M. HP</th>
                        <th>M. EE</th>
                        <th>M. Ataque</th>
                        <th>M. Defesa</th>
                        <th>M. Ataque Mágico</th>
                        <th>M. Defesa Mágica</th>
                        <th>M. Velocidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Investida</td>
                        <td>Físico</td>
                        <td>2</td>
                        <td>2</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.5</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>Golpe de Escudo</td>
                        <td>Físico</td>
                        <td>2</td>
                        <td>2</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.5</td>
                        <td>0.5</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Golpe Pesado</td>
                        <td>Físico</td>
                        <td>4</td>
                        <td>4</td>
                        <td>0</td>
                        <td>0</td>
                        <td>2</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Golpe Poderoso</td>
                        <td>Físico</td>
                        <td>2</td>
                        <td>8</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1.5</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Kickbox</td>
                        <td>Físico</td>
                        <td>2</td>
                        <td>6</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Bola de Fogo</td>
                        <td>Mágico</td>
                        <td>5</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>3</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Raio</td>
                        <td>Mágico</td>
                        <td>2</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1.5</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Flecha de Gelo</td>
                        <td>Mágico</td>
                        <td>2</td>
                        <td>5</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Bala Mágica</td>
                        <td>Mágico</td>
                        <td>1</td>
                        <td>8</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.5</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Raio de Vitalidade</td>
                        <td>Mágico</td>
                        <td>3</td>
                        <td>6</td>
                        <td>0.15</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.5</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Golpe de Vitalidade</td>
                        <td>Físico</td>
                        <td>2</td>
                        <td>6</td>
                        <td>0.05</td>
                        <td>0</td>
                        <td>1.5</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Bolha Bomba</td>
                        <td>Mágico</td>
                        <td>2</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.5</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
            
        <!-- Rodapé do modal -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#modal_criacao_personagem">Voltar</button>
        </div>
        
      </div>
    </div>
  </div>

    <script src="{% static 'js/gerenciar.js' %}"></script>
</body>
</html>